<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mq base multichat</title>
</head>

<body>
  <h1>mq base multichat</h1>
  <div class="container">
    <div class="tools--gnb">
      <span class="network-service">LGU +</span>
      <i class="network-method--wifi"></i>
      <span class="timer">오후 3:30</span>
      <i class="rotate--lock"></i>
      <i class="navigator"></i>
      <i class="battery--80"></i>
    </div>
    <div class="header--gnb">
      <span class="header__title"></span>
      <a class="search"></a>
      <a class="nav"></a>
    </div>
    <div class="logs">
    </div>
    <div class="inputBox">
      <button class="option">+</button>
      <input type="text" id="to">
      <input type="text" class="textarea" id="textbox">
      <button id="send">send</button>
    </div>
  </div>
    <script src="/dist/js/bundle.js"></script>
</body>
</html>